<h2> About page </h2>

<button class="btn-primary" onclick="something()">Click me</button>



<br/>
<br/>
<button class="btn-primary" onclick="something_1()">Click me_32</button>



<br/>
<br/>
<button class="btn-primary" onclick="something_2()">Click me_32_2</button>


