<h2> Welcome to pizza shop </h2>

<h3> Products: </h3>

<% @product.each do |p| %>
	 <a href="/product/<%= p.id %>"> 
	 	<img src="<%= p.path_to_image %>" alt="<%= p.description %>" width="300" height="150"> <%= p.title %> </a>
  <br>
<%end%>






<br/>
<br/>

<button class="btn-primary" onclick="something()">Click me</button>
<br/>
<br/>
<button class="btn-primary" onclick="increment()">Inc X</button>
<br/>
<br/>
<button class="btn-primary" onclick="something_1()">Click me_32</button>
<br/>
<br/>
<br/>
<br/>
<button class="btn-primary" onclick="something_2()">Click me_32_2</button>
<br/>
<br/>


